body{
    width: 1000px;
    margin: 0 auto;
}

header{
    height: 50px;
    display: flex;
    align-items: center;
}

header button{
    margin: 5px;
    background: #4040d0;
    border: 2px solid #252525;
    border-radius: 18px;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

header button:hover{
    background: #1919ff;
    border: 2px solid black;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .message{
    height: 60px;
    width: 350px;
    margin-right: 10px;
}

.none{
    display: none;
}

.log-in form{
    flex-direction: column;
}

.sign-in form{
    flex-direction: column;
}